{% extends 'dashboard/base.html' %}

{% block pagewrapper %}
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
  <div class="panel panel-default">
    <div class="panel-heading">Demo Form (Flask <--> jQuery <--> DataTable <--> HTML)</div>
    <p>
      The purpose of this is to demonstrate the simplest possible code for displaying a form, sending the form data to flask, building demo data in flask in the DataTable format, and then displaying the DataTable in the webpage.  To keep it simple, the form data is just sent back and displayed in the 'successAlert' div.  The table data is hard coded into the python function and is not adjusted for the form inputs in any way.  Obviously, a more useful function would use the form input to control the table data.  That was left out to keep the code focused on the purpose.
    </p>
    <div class="panel-body">
      <!-- Demo form -->
      <form class="form-inline" id="form_demo">
        <div class="form-group" > <!-- Date input -->
          <label>Start Date</label>
          <input class="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose=true data-date-today-highlight=true value='2019-01-01' id="startdate">
          <label>End Date</label>
          <input class="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose=true data-date-today-highlight=true value='2019-12-31' id="enddate">
          <label class="radio-inline"><input type="radio" name="optradio" value=1 checked>Option 1</label>
          <label class="radio-inline"><input type="radio" name="optradio" value=2>Option 2</label>
          <label class="radio-inline"><input type="radio" name="optradio" value=3>Option 3</label>
          <button type="submit" class= "btn btn-default">Submit</button>
        </div>
      </form>
      <br>
      <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

      <!-- DataTable table element for generic table -->
      <div class="container-fluid" id="container_div">
        <table id="table_demo" class="display" style="width:100%"></table>
      </div> <!-- End DataTable container -->
    </div>
  </div>

  <div class="panel panel-default">
</main>
{% endblock %} <!-- pagewrapper -->
