/* Datatable --------------------------------------------------------------- */
.dataTables_length {
  width: auto;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 110px 0 0;
}
.dataTables_length label {
  line-height: 30px;
  margin: 0;
}
.dataTables_length select {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  color: #666;
  padding: 0 50px 0 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  margin: 0;
}
.dataTables_length:after {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  color: #fff;
  content: '\f107';
  pointer-events: none;
  -webkit-border-top-right-radius:    6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright:        6px;
  -moz-border-radius-bottomright:     6px;
  border-top-right-radius:            6px;
  border-bottom-right-radius:         6px;
}
.dataTables_length select::-ms-expand {
  display: none;
}

.function_update a:before {
  font-size: 1.1rem;
  content: "\f040";
}
.function_delete a:before {
  font-size: 1.2rem;
  line-height: 30px;
  content: "\f1f8";
}
.function_buttons {
  width: 70px;
  height: 30px;
  margin: 0 auto 0 auto;
}
function_buttons li {
  float: left;
  padding: 0 10px 0 0;
}
.function_buttons li.function_delete {
  padding: 0;
}
.function_buttons a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #999;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
}
.function_buttons .function_update a:before {
  font-size: 1.1rem;
  content: "\f040";
}
.function_buttons .function_delete a:before {
  font-size: 1.2rem;
  line-height: 30px;
  content: "\f1f8";
}
.function_buttons a:hover,
.function_buttons a:active,
.function_buttons a:focus {
  background-color: #333;
}
.function_buttons span {
  display: none;
}
/* Message / noscript ------------------------------------------------------- */
#message_container,
#noscript_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  color: #fff;
}
#message_container {
  display: none;
}
#message,
#noscript {
  width: 980px;
  line-height: 20px;
  padding: 10px 5px 10px 6px;
  margin: 0 auto 0 auto;
}
#message  p,
#noscript p {
  display: inline-block;
  position: relative;
  padding: 0 0 0 28px;
}
#message  p:before,
#noscript p:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f70;
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius:    20px;
  border-radius:         20px;
}
#message.success  p:before,
#noscript.success p:before {
  content: '\f00c';
}
#message.error  p:before,
#noscript.error p:before {
  content: '\f00d';
}

/* The Modal (background) PAB ----------------------------------------------*/
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
