{% extends "bootstrap/base.html" %}

{% block title %}SCRUD{% endblock %}

{# Enable fixes for legacy browsers #}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block styles %}
  <link rel="shortcut icon" href="{{ url_for('scrud.static', filename = 'favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen:400,700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

  <!-- Bootstrap DatePicker CSS -->
  <link rel="stylesheet" href="{{ url_for('scrud.static', filename = 'bootstrap-datepicker3.standalone.css') }}" >

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('scrud.static', filename = 'layout.css') }}">

  {{ super() }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SCRUDAdmin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('dashboard.dashboard') }}> Dashboard <span class="sr-only">(current)</span></a></li>
          {% for k, v in databases.items()|sort %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ k }} <span class="caret"></span></a>
            <ul class="dropdown-menu" id="my_table_dropdown">
              {% for table in v|sort %}
                <li><a class="dropdown-item" data-database="{{ k }}" data-tablename="{{ table }}">{{ table }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block scripts %}
  <!-- Placed at the end of the document so the pages load faster -->
  {{super()}}

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- DataTables JS -->
  <script charset="utf-8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <!-- jQuery Validate JS -->
  <script charset="utf-8" src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>

  <!-- Bootstrap Datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Custom Scripts -->
  <script charset="utf-8" src="static/scrud.js"></script>
{% endblock %}
